h1 {
	font-size: 3em;
}

#task_form {
	width: 75%;
}

#task {
	width: 100%;
}

#the_list {
	width: 75%;
}

#edit_name {
	background-color: transparent;
	border-style: none;	
}

span[class="icon"]{
	border-style: none;
}